#git+https://github.com/aolabsai/ao_arch


firebase_admin
Flask
Flask_Cors
numpy
openai
python-dotenv
gunicorn

requests
google-auth
google-auth-oauthlib
google-auth-httplib2


git+https://github.com/Rafipilot/embedding_bucketing

git+https://github.com/aolabsai/ao_arch



