#git+https://github.com/aolabsai/ao_arch


Flask==2.2.5
Flask-Cors==3.0.10
PyJWT==2.8.0
google-auth==2.25.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
openai==1.3.5
numpy==1.25.2
httpx==0.25.0
python-dotenv==1.0.0
firebase-admin==6.2.0
requests==2.31.0

git+https://github.com/Rafipilot/embedding_bucketing

git+https://github.com/aolabsai/ao_arch



